@keyframes  App-logo-spin{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: linear-gradient(to bottom, var(--lite), var(--transparent),  var(--light-blue));
    .about-us{
        //background: var(--transparent);
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        //background: linear-gradient(to bottom, var(--light-blue), var(--light-blue));

        .info{
            margin-left: 10px;
            color: var(--dark-grey);
            font-weight: 500;
            line-height: 3rem;
            h1{
                width: 100%;
                text-align: start;
            }
            .links{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin: 5px 0;


                a{
                    padding: 0 5px;
                    height: fit-content;
              }
            }
        }
    }
}