.auth{
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to bottom, var(--transparent), var(--lite),  var(--transparent),  var(--light-blue));

    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        
        padding: 10px 10px;

        label{
            width: 100%;
            text-align: start;
            padding: 0 5px;
        }

        input{
            width: 100%;
            height: 40px;
            padding-left: 25px;
            margin-bottom: 5px;
            font-size: 13px;
            letter-spacing: 0.15px;
            border: none;
            outline: none;
            background: var(--light-blue);
            transition: 0.25s ease;
            border-radius: 8px;
            box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
        
            &:focus{
                box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
            }
        }

    }



    span{
        margin-top: 10px;
        margin-bottom: 10px;
        a{
            color: var(--blue);
        }
    }
}