.topbar{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--dark);
    position: fixed;
    top: 0;
    z-index: 10;
        a{
            text-decoration: none;
            cursor: pointer;
            color: var(--lite);   
            width: 30px;
            height: 30px;
            padding: 5px 5px;
            margin: 5px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            *{
                font-size: 20px;
            }
            &:hover{
                color: var(--blue);
                background: var(--lite); 
            }
        }
}