.newsletter{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    
    background: linear-gradient(to bottom, var(--lite), var(--transparent),  var(--light-blue));

    form{
        width: 100%;
        max-width: 340px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        input{
            height: inherit;
            outline: none;
            font-size: 16px;
            padding: 0 5px;
            background: var(--lite);
            color: var(--dark);
            flex: 6;
            border: none;
            background: var(--light-blue);


            border: 1px solid #9FA4A8;
        }
        
        button{
            flex: 3;
            height: 40px;
            border: none;
            border: 1px solid var(--blue);
            color: var(--lite);
            background: var(--blue);
            cursor: pointer;

            &:hover{
                background: var(--dark);
                color: var(--blue);
            }



        }
    }
}
