.Home{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    //background: linear-gradient(to bottom, var(--transparent), var(--light-blue));

    .post-container{
        gap: 5px;
        > *{
            margin: 5px;
        }
    }
}
