.tips {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--lite), var(--transparent), var(--light-blue));

    .date-wrapper {
        //max-width: 1000px;
        width: 100%;
        background: var(--lite);
        //border-radius: 13px;
        overflow-x: hidden;
        position: relative;
        padding: 5px 10px;

        .tabs-box {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
            gap: 5px;
            overflow: hidden;
            scroll-behavior: smooth;

            -ms-overflow-style: none;
            /* Hide scrollbar for IE and Edge */
            scrollbar-width: none;

            /* Hide scrollbar for Firefox */
            &::-webkit-scrollbar {
                display: none;
                /* Hide scrollbar for Chrome, Safari, and Opera */
            }

            .tab {
                white-space: nowrap;
                background: var(--light-blue);
                padding: 0px 10px;
                border: 1px solid var(--light-grey);
                border-radius: 3px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 0.5s ease;

                &.active {
                    background: var(--dark-blue);
                    color: var(--lite);
                }
            }

            &.dragging {
                .tab {
                    user-select: none;
                }
            }
        }

        .icon {
            position: absolute;
            top: 0;
            height: 100%;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                font-size: 2rem;
                border-radius: 50%;
                background: var(--light-blue);
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background: var(--lite);
                }
            }

            &:first-child {
                left: 0;
                //background: linear-gradient(90deg, red, 60%, transparent);
                background: linear-gradient(90deg, var(--lite), var(--light-blue), var(--transparent));
                justify-content: flex-start;

                .item {
                    margin-left: 5px;
                    justify-content: flex-end;
                }
            }

            &:last-child {
                right: 0;
                justify-content: flex-end;
                background: linear-gradient(-90deg, var(--lite), var(--light-blue), var(--transparent));

                .item {
                    margin-right: 5px;
                }
            }


        }
    }

    .subscribe-btn {
        width: 100%;
        max-width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--dark-blue);
        color: var(--lite);
        padding: 5px 5px;
        border-radius: 5px;
        text-decoration: none;
        margin: 10px 10px;
        margin-left: auto;

        &:hover {
            background: var(--blue);
        }
    }

    form.type {
        width: 100%;
        max-width: 800px;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(5, 1fr);
        padding: 0 5px;

        fieldset {
            padding: 0;
            border: 0;
            position: relative;
            display: flex;
            justify-content: space-between;

            label {
                text-transform: uppercase;
                letter-spacing: .1rem;
                background: var(--light-blue); //#E8E8E8;
                text-align: center;
                padding: .3em;
                cursor: pointer;
                width: 100%;
                border-radius: .2rem;
                border: 1px solid var(--dark-grey);
                position: relative;
                z-index: 1;
                transition: all 0.5s ease;

                &:hover {
                    background: var(--grey);
                    color: var(--lite);
                }
            }


            input[type="radio"] {
                visibility: hidden;
                position: absolute;
                cursor: pointer;
            }

            input[type="radio"]:checked {
                ~label {
                    background: var(--dark-blue);
                    color: var(--lite);
                    box-shadow: var(--dark-shadow);
                    transform: scale(1.02);
                    animation: checked 200ms 1;
                    border: 1px solid var(--dark-blue);
                    position: relative;
                    z-index: 5;
                }
            }
        }

        @media screen and (max-width: 478px) {
            grid-gap: .4rem;
            max-width: 100%;
            display: grid;

            fieldset {
                label {
                    letter-spacing: .01rem;
                    font-size: small;
                    padding: .1em;
                }
            }
        }
    }

    .title {
        width: 100%;
        color: var(--dark);
        font-size: 17px;
        margin-bottom: 0;
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //background: var(--light-blue);
        gap: 5px;
        padding: 3px;
    }
}