.admin-tips{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form{
        width:100%;
        max-width: 900px;
        font-weight: 400;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex: 1;
        .input-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: .5rem;
            width: 100%;

            &.vertical{
                flex-direction: column;
                *{
                    width: 100%;
                }
            }
      
            label {
                display: block;
                font-size: 17px;
                flex: 1;
            }
            
            input {
                border-radius: 5px;
                height: inherit;
                outline: none;
                font-size: 16px;
                padding: 5px 5px;
                color: var(--dark);
                margin-left: 5px;
                flex: 1;
                background: var(--light-blue);
                border: .5px solid var(--blue);
            }
        }
    }
}
