:root{
  --lite: #fff;//rgba(220, 250, 250, 0.9);rgb(242, 243, 242);
  --dark: #3b3b3b;//rgb(41, 39, 39); #262626;
  --light-blue: #d0ffc4;// #d9ffcf #C3FF93
  --dark-blue: #0A6847;// #365E32
  --blue: #059212;// #06D001
  --light-grey: #ccc;
  --grey: #7288a2;//#8198ae//7a7979//#4d5974 #4d5974; #95abbb
  --dark-grey: #555;
  --dark-shadow: 0px 5px 3px -4px var(--dark);
  --shadow: 0px 1px 2px -1px var(--dark),0px 1px 2px -1px var(--blue);//0 8px 20px -4px #95abbb;//
  --transparent:rgba(0, 0, 0, .03);
  --red:  #e74c3c;
  --light-red: #FAA0A0;
  --dark-red: #D2042D;//#e43737;
  --yellow: #FFBD59; //#f9c922;
  --light-yellow: #FBEC5D;
  --dark-yellow: #FFAA33;
  --green: #00A36C;
  --dark-green: #023020;
  --light-green: #90EE90;
  --light-color: #f1faee;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  //font-family: 'Courier New', Courier, monospace;
  //font-family: 'Times New Roman', Times, serif;
  //font-family: "Montserrat", sans-serif;
  //font-family: "Poppins", sans-serif;
}


.App{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    min-height: 100vh;
    color: var(--dark);
    overflow: hidden;
    position: relative;
    //background: linear-gradient(to bottom, var(--light-blue), var(--lite));

    h1{
      font-size: 26px;
      font-weight: 600;
      color: var(--dark);
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      padding: 5px 0;
      letter-spacing: 6px;
    }


    h2{
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        margin: 5px 0;
    }

    h3{
      font-weight: 400;
      font-size: 24px;
      color: var(--dark-blue);
      flex: 1.5;
    }

    h4{
      font-size: 20px;
      color: var(--grey);
    }

    p{
      font-size: 15px;
      color: var(--dark);
    }

    .post-container{
      display: flex;
      width: 100%;
      overflow: hidden;
      align-items: center;
      position: relative;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-bottom: 40px;
    }


  .btn {
    width: fit-content;
    background: var(--blue);
    border-radius: 30px;
    padding: 8px 20px;
    color: var(--lite);
    box-shadow: var(--dark-shadow);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;

    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;

    &.top{
      border: none;
      padding: 10px;
      margin: 10px 10px;
      position: fixed;
      cursor: pointer;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      z-index: 1;
      transition: all 0.4s ease-in-out;

      &:hover{
        color: var(--blue);
        background: var(--lite);
        border: 1px solid var(--blue);
      }
    }
  }
  .btn:hover {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0, 0.2);
    background: var(--dark-blue);
    color: var(--lite);
  }

}